body {
  background-color: rgba(62, 255, 191, 1);
  margin: 0;
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 2rem;
}

h1 {
  font-size: 3.5rem;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
}

#grid {
  display: grid;
  z-index: 0;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 15% 70% 15%;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

#title {
  display: grid;
  /* border-style: solid; */
  grid-column: 2 / 3;
  text-align: center;
}

.searchbox {
  display: grid;
  text-align: center;
  justify-self: center;
  align-self: center;
  /* border-style: solid; */
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  width: 50vw;
}

input[type="text"] {
  display: grid;
  text-align: left;
  align-self: center;
  background-color: rgb(255, 252, 95);
  font-size: 1.5rem;
  border-radius: 4px;
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 1.5rem;
  border: 2px black solid;
  padding: 3% 3%;
  margin: 10px 0px;
}

button {
  display: grid;
  text-align: center;
  align-self: center;
  background-color: rgba(255, 103, 166);
  font-size: 2rem;
  border-radius: 4px;
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 1.5rem;
  border: 2px black solid;
  padding: 3% 3%;
  margin: 10px 0px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

button:hover {
 background-color: #CCFF00;
 color: #353839;
 cursor: pointer; 
}

#modal-bg {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 5%;
  padding-bottom: 5%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

#modal-content {
  background-color: rgba(62, 255, 191, 1);
  border-radius: 4px;
  margin: auto;
  padding: 20px;
  border: 1px solid black;
  width: 50%;
  height: 80%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 15% 70% 15%;
}

#emoji-name {
  display: grid;
  grid-column: 2 / 3;
  text-align: center;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  font-size: 3rem;
}

#emoji-image {
  display: grid;
  grid-column: 2 / 3;
  text-align: center;
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 10rem;
}

#emoji-markdown {
  display: grid;
  grid-column: 2 / 3;
  text-align: center;
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 2.25rem;
}

#close-modal {
  display: grid;
  grid-column: 2 / 3;
  text-align: center;
  align-self: center;
  justify-self: center;
  width: 30%;
}

#close-modal > button {
  font-size: 2rem;
}
